/* You can add global styles to this file, and also import other style files */
@use "styles/bloggi";
@import "primeicons/primeicons.css";
:host {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
