<nav class="fixed top-0 z-50 w-full px-6 py-3
            border-b transition-all duration-300 backdrop-blur-xl
            bg-white/80 border-gray-200
            dark:bg-[#09090b]/80 dark:border-white/10
            flex items-center justify-between">

  <div class="flex items-center gap-3 cursor-pointer group">
    <img src="assets/logo.svg"
         alt="Logo"
         class="w-8 h-8 transition-transform group-hover:scale-110"
    />

    <span class="text-xl font-bold tracking-tight font-sans text-gray-900 dark:text-white">
      A's Blog
    </span>
  </div>

  <div class="flex items-center gap-2 sm:gap-4">

    <div class="hidden md:block">
      <p-iconfield iconPosition="left">
        <p-inputicon class="pi pi-search text-gray-400 dark:text-gray-500" />
        <input
          type="text"
          pInputText
          placeholder="Search..."
          class="w-48 lg:w-64 rounded-lg py-2! pl-10! text-sm! transition-all
                       border-transparent! focus:border-primary-500! focus:ring-0
                       bg-gray-100! text-gray-900 placeholder:text-gray-500
                       dark:bg-white/5! dark:text-white dark:placeholder:text-gray-400"
        />
        <div class="absolute right-3 top-1/2 -translate-y-1/2
                        border rounded px-1.5 py-0.5 text-[10px]
                        border-gray-300 text-gray-400
                        dark:border-gray-700 dark:text-gray-500">
          ⌘K
        </div>
      </p-iconfield>
    </div>

    <div class="h-6 w-px hidden md:block bg-gray-200 dark:bg-white/10"></div>


    <div class="flex items-center gap-1">
      <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="secondary"
                styleClass="md:hidden !text-gray-600 dark:!text-gray-300 hover:!bg-gray-100 dark:hover:!bg-white/10"></p-button>

      <p-button icon="pi pi-github" [rounded]="true" [text]="true" severity="secondary"
                styleClass="!text-gray-600 dark:!text-gray-300 hover:!bg-gray-100 dark:hover:!bg-white/10"></p-button>

      <p-button icon="pi pi-twitter" [rounded]="true" [text]="true" severity="secondary"
                styleClass="!text-gray-600 dark:!text-gray-300 hover:!bg-gray-100 dark:hover:!bg-white/10"></p-button>

      <p-button icon="pi pi-moon" [rounded]="true" [text]="true" severity="secondary" (click)="toggleDarkMode()"
                styleClass="!text-gray-600 dark:!text-gray-300 hover:!bg-gray-100 dark:hover:!bg-white/10"></p-button>
    </div>
  </div>

</nav>
