<nav
  class="fixed top-0 left-0 right-0 z-50 transition-all duration-300 border-b backdrop-blur-xl shadow-xl"
  [ngClass]="{
        'bg-white/60 backdrop-blur-xl shadow-xl border-white/20': !isDarkTheme(),
        'bg-black/40 backdrop-blur-xl shadow-2xl border-white/10': isDarkTheme()
      }"
>
  <div class="max-w-7xl mx-auto px-1 sm:px-2 lg:px-3">
    <div class="flex items-center justify-between h-16 md:h-18">

      <a routerLink="/">
        <div class="flex items-center space-x-4">
          <div class="w-12 h-12 rounded-2xl flex items-center justify-center backdrop-blur-sm border transition-all duration-200"
               [ngClass]="{
                   'bg-white/40 border-white/30': !isDarkTheme(),
                   'bg-white/10 border-white/20': isDarkTheme()
                 }">
            <img src="assets/logo.svg" alt="YourBrand Logo">
          </div>
          <span
            class="text-2xl font-bold poppins-font hidden sm:block tracking-tight"
            [ngClass]="isDarkTheme() ? 'text-white' : 'text-gray-900'"
          >
              Alen's Blog
            </span>
        </div>
      </a>

      <div class="hidden md:flex flex-1 max-w-md mx-8">
        <p-iconfield class="w-full">
          <p-auto-complete [inputStyleClass]="'w-full'" class="w-full" placeholder="Search..."></p-auto-complete>
        </p-iconfield>
      </div>

      <div class="flex items-center space-x-3">


        <p-button
          [icon]="this.isDarkTheme() ? 'pi pi-moon' : 'pi pi-sun'"
          [variant]="'outlined'"
          [size]="'small'"
          rounded
          severity="secondary"
          ariaLabel="dark-theme-switcher"
          (onClick)="toggleDarkMode()"
          [pTooltip]="this.isDarkTheme() ? 'Switch to Light Theme' : 'Switch to Dark Theme'"
        ></p-button>

        <p-button
          [icon]="'pi pi-user'"
          [variant]="'outlined'"
          [size]="'small'"
          [raised]="true"
          rounded
          severity="secondary"
          ariaLabel="user-profile-button"
          [pTooltip]="'Login to the user account'"
          (onClick)="login()"
        ></p-button>

      </div>
    </div>
  </div>
</nav>

<div class="h-16 md:h-20"></div>
